<div class="header">
    <div class="menu-header">
        <div class="element-header"  (click)="page_change('accueileleve')">
            <i class="fa-solid fa-house"></i>
            <div>Accueil</div>
        </div>
        <div class="element-header"  (click)="page_change('calendriereleve')">
            <i class="fa-regular fa-calendar"></i>
            <div>Agenda</div>
        </div>
        <div class="element-header" (click)="page_change('profileleve')">
            <i class="fa-solid fa-user"></i>
            <div>Profil</div>
        </div>
        <div class="element-header"  (click)="page_change('stateleve')">
            <i class="fa-solid fa-chart-simple"></i>
            <div>Stat</div>
        </div>
        <div class="element-header"  (click)="page_change('inventaireeleve')">
            <i class="fa-solid fa-boxes-stacked"></i>
            <div>Matériel</div>
        </div>
    </div>
</div>