<div class="accueil" *ngIf="!loading">
    <div class="title-accueil">
        <div>
            <div>Bienvenue {{ this.user_complete.firstname + ' ' + this.user_complete.lastname }}</div>
        </div>
    </div>
    <div class="comm-accueil">
        <div class="club-comm">Informations utiles de {{ this.club_complete.name }}</div>
        <div>
            <div *ngFor="let communication of communications_club.slice(-2)" class="list-comm">
                <div class="titre-comm">{{ communication.title + ' le ' + communication.for_day.split('T')[0].split('-')[2] + '/' + communication.for_day.split('T')[0].split('-')[1] + '/' + communication.for_day.split('T')[0].split('-')[0] }}</div>
                <div>{{ communication.message }}</div>
            </div>
        </div>
        <div class="club-comm">Récapitulatif de {{ this.club_complete.name }}</div>
        <div>
            <div *ngFor="let communication of communications_recap.slice(-2)" class="list-comm">
                <div class="titre-comm">{{ communication.title + ' le ' + communication.for_day.split('T')[0].split('-')[2] + '/' + communication.for_day.split('T')[0].split('-')[1] + '/' + communication.for_day.split('T')[0].split('-')[0] }}</div>
                <div>{{ communication.message }}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>