<div class="header">
    <div class="menu-header">
        <div class="element-header"  (click)="page_change('accueil')">
            <i class="fa-solid fa-house"></i>
            <div>Accueil</div>
        </div>
        <div class="element-header"  (click)="page_change('calendrier')">
            <i class="fa-regular fa-calendar"></i>
            <div>Agenda</div>
        </div>
        <div class="element-header" (click)="page_change('eleves')">
            <i class="fa-solid fa-users"></i>
            <div>Élèves</div>
        </div>
        <div class="element-header"  (click)="page_change('stat')">
            <i class="fa-solid fa-chart-simple"></i>
            <div>Stat</div>
        </div>
        <div class="element-header"  (click)="page_change('inventaire')">
            <i class="fa-solid fa-boxes-stacked"></i>
            <div>Matériel</div>
        </div>
    </div>
</div>